@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color:cadetblue">Welcome</h1>
    <h4 style="color:blueviolet">It's pizza time!</h4>
    <img class="card-img" src="https://tazzcdn.akamaized.net/uploads/cover/WhatsApp_Image_2023-07-24_at_16.31.01_1_1.jpeg"
</div>
